@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#root {
  margin: 0 auto;
  min-height: 100vh;
  font-family: sans-serif;
  color: #dddddd;
}

/* Home page banner */
.banner_img {
  background: linear-gradient(#000435b3, #000435b3), url(/images/banner_img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* MovieCard Banner */
.movie_container {
  background: linear-gradient(90deg, #000435ca, #000080ca, #000435ca), url(/images/banner_img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner_heading {
  font-family: "Black Han Sans", sans-serif;
}

.detail_banner {
  background: linear-gradient(90deg, #000435ca, #000080ca, #000435ca), url(/images/banner_img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Error Page */
.error_page_bg {
  background: linear-gradient(90deg, #000435ca, #000080ca, #000435ca), url(/images/banner_img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.gradient-overlay {
  background: linear-gradient(90deg, #000435, #000080, #000435ca);
}

/* Responsiveness */
@media (max-width: 640px) {
  .gradient-overlay {
    background: linear-gradient(#000435, #000080, #000435ca);
    height: 200%;
  }
}