@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#root {
  margin: 0 auto;
  height: 100vh;
  font-family: sans-serif;
  color: white;
}

.banner_img {
  background: linear-gradient(#000435b3, #000435b3), url(/images/banner_img.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* .movie_bg {
  background: linear-gradient(rgba(0, 0, 128, .7), #000080, rgba(0, 0, 128, .7)), url(../public/images/banner_img.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
} */

.banner_heading {
  font-family: "Black Han Sans", sans-serif;
}

/* Error Page */
.error_page_bg {
  background: linear-gradient(90deg, #000435ca, #000080ca, #000435ca), url(/images/banner_img.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
}